body {
  margin: 0;
  margin-left:10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul.block {
  li {
    margin: 20px;
    padding:15px;
    display: inline-block;
    width: 390px;
    background-color: #c9dbe6;
    align-items: center;
    border:5px;
    border-style:solid;
  }
}
img.item-image {
  width:350px;
  height:350px;
}

img.cartImage {
  height:100%;
  width:52px;
  /* height:45px; */
  float:left;
}

ul.cartDisplay {
  margin-left:20%;
  li.rowData {
    margin-top:10px;
    height:56px;
    width:60%;
    list-style-type:none;
    align-items: center;
    align-content: center;
    border-style:solid;
    background-color: #d5d5d7;
  }
  
  p {
    padding-left: 60px;
    margin-top:13px;
    text-align:center;
    text-align:left;
    /* margin-bottom:17px; */
    font-size: 16px;
    color: rgb(4, 65, 72);
  }
}

ul.cartInfo {
  width: 100%;
  list-style: none;
  height: 100%;
  li {
    display: inline-block;
    align-items: center;
    width: 25%;
    align-content: center;
    text-align: center;
    vertical-align: middle;
  }
}

input  {
  display: block;
  background-color: white;
}

span.price {
  background-color: white;
  color: hwb(0 30% 69%);
  text-align: center;
  padding: 5px;
  border-radius: 8%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:bolder;
  margin-right:5px;
  margin-bottom:10px;
}

button.cartButton {
  float:right;
  margin-right: 5%;
}

.topHeading {
  margin-left:51px;
  width:1250px;
}

.total {
  text-align: right;
  margin-right: 30%;
  margin-bottom: 20px;
}

.purchaseGuidance {
  margin-right: 15%
}